<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid Exercice</title>
    <link rel="stylesheet" href="styles/css/normalize.css">
    <link rel="stylesheet" href="styles/css/class.css">
    <link rel="stylesheet" href="styles/css/stylesheet.css">
    <link rel="stylesheet" href="styles/css/page_layout.css">
    <link rel="stylesheet" href="styles/css/grid.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        window.onload = function () {
            var vm = new Vue({
                el: '#app',
                data: {
                    liste:[],
                    id:0,
                    pseudo: "",
                    mail: "",
                    password: ""
                },
                methods:{
                    saisie: function (){
                        var user = {
                            id:0,
                            pseudo:"",
                            mail: "",
                            password: ""
                        }
                        this.id++;
                        user.id         = this.id;
                        user.pseudo     = this.pseudo;
                        user.mail       = this.mail;
                        user.password   = this.password;


                        user.append("username","this.pseudo")
                        axios.post('http://localhost/spleeen/backend/controllers/listUser.php', user)
                            // Réponse et récupération des données
                            .then(response => {
                                this.liste.push('http://localhost/spleeen/backend/controllers/listUser.php');

                            })
                            .catch(function(error){
                                console.log(error)
                            });
                    }
                    }
                }
            })
        }
    </script>
</head>
<body class="bc-purple-dark-ultra p-absolute inscription">
<header class="p-relative">
    <ul class="d-grid m-0-auto">
        <li class="gcs-1 span-6 d-flex just-c-f-s m-auto-0"><a href="">Menu</a></li>
        <li class="span-6 d-flex just-c-f-e">
            <figure class="d-flex flex-d-row align-i-c ">
                <img src="img/logo.svg" alt="Spleeen" width="50" height="50"
                     class="logo">
                <figcaption class="spleeen"><a href="#">Spleeen</a></figcaption>
            </figure>
        </li>
    </ul>
</header>
<main>
    <form id="app" @submit.prevent="submit" class="d-block m-0-auto">
        <div class="card-header">
            <h3 class="t-align-c t-white">S'inscrire</h3>
            <p>Vous avez déjà un compte ? <span><a href="">S'inscire</a></span></p>
        </div>

        <br/>
        <div class="input-group">
            <input
                    type="text"
                    class="form-control"
                    placeholder="Pseudonyme"
                    v-model="username"
                    required>
        </div>

        <br/>
        <div class="input-group">
            <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    v-model="user_email"
                    required>
        </div>

        <br/>
        <div class="input-group">
            <input
                    type="password"
                    class="form-control"
                    placeholder="Mot de passe"
                    v-model="user_password"
                    required>
        </div>

        <br/>
        <button type="submit" class="btn btn-primary float-right">S'inscrire</button>
    </form>
</main>


<!--    <div id="app">-->
<!--        <input v-model="pseudo" placeholder="Ce nom s'affichera lorsque vous partagerez votre timeline."/>-->
<!--        <br/>{{ pseudo }}-->
<!--&lt;!&ndash;        <input v-model="mail" placeholder="Veuillez renseignez votre mot de passe."/>&ndash;&gt;-->
<!--&lt;!&ndash;        <br/>{{ mail }}&ndash;&gt;-->

<!--        <form method="post" action="mailto:votreemail@email.com">-->
<!--            <textarea v-model="mail" rows="5" cols="20" wrap="physique" name="commentaires">Veuillez renseignez votre adresse email.</textarea><br/>-->
<!--            <input type="submit" value="Valider"/> {{mail}}-->
<!--        </form>-->
<!--        <input v-model="password" placeholder="Veuillez renseignez votre adresse mail."/>-->
<!--        <br/>{{ password }}-->
<!--    </div>-->
<footer>

</footer>
</body>
</html>